*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --clr-background: #6b6b6bf1;
    --clr-lighter: #9a9a9af1;
}
body::before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1), rgba(0,0,0,1));
}

body {
    background-color: black;
    background-position: center 0;
    background-size: calc(max(100vw,100vh*(1 + 7/9)));
    background-repeat: no-repeat;
    background-image: url("misc/Wallpaper.png");
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    padding-top: 50px;
    max-width: 2000px;
    width: 20%;
    display: grid;
    justify-items: center;
}

.content h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    width: 100%;
}

.content .ability-preview {
    margin-top: 50px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    border: transparent;
    border-radius: 15px;
    background-color: var(--clr-lighter);
}

.content input {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 20px;
    border-radius: 15px;
    border: transparent;
    background-color: var(--clr-background);
    height: 35px;
}

.content ul {
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 20px;
    padding: 10px;
    width: 100%;
    max-height: 33vh;
    overflow-y: scroll;
    border: transparent;
    border-radius: 15px;
    background-color: var(--clr-lighter);
}

.content ul::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
}

.content ul::-webkit-scrollbar {
    width: 5px;
}

.content ul::-webkit-scrollbar-track:hover {
    background-color: var(--clr-lighter);
}

.content ul::-webkit-scrollbar-thumb {
    background-color: var(--clr-background);
    border-radius: 3px;
}

@keyframes appear {
    from {
        opacity: 0%;
        background-color:transparent;
        transform: translateY(-30px);
    }
    50%{
        opacity: 50%;
        background-color:transparent;
    }
    80% {
        opacity: 100%;
        transform: translateY(0px);
    }
    to {
    }
}

.content li p{
    position: relative;
    animation: appear 1s;
    padding-block: 5px;
}

.link {
    position: absolute;
    bottom: 0px;
    left: 10%;
    color: white;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 1);
}

.element-countdown, .img-countdown {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.element-countdown, .element-countdown img, .img-countdown, .img-countdown img {
    height: 60px;
    filter: grayscale(1);
}

.guess-type-buttons {
    width: 100%;
    background-color: var(--clr-lighter);
    border-radius: 15px;
    display: grid;
    padding: 10px;
}

.guess-type-buttons button {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 30px;
    background-color: var(--clr-background);
    border: transparent;
    text-align: center;
    background-color: transparent;
}

.guess-type-buttons button:hover {
    background-color: var(--clr-background);
}

.correct {
    background-color: rgba(64, 139, 64,0.9) !important;
}

.incorrect {
    background-color: rgba(139, 64, 80,0.9) !important;
}

#ability-name {
    margin: 10px;
    font-weight: 900;
    font-size: 20px;
}

#element-countdown {
    display: block;
    
}

#element-countdown-in {
    font-weight: 700;
    text-shadow: 0px 0px 15px white;
}

#ability-element {
    display: none;
}

#img-countdown {
    display: block;
}

#img-countdown-in {
    font-weight: 700;
    text-shadow: 0px 0px 15px white;
}

#ability-img {
    display: none;
}

#guess-type-buttons {
    display: none;
}

#button-skill {
    border-bottom: 1px solid black;
}